.post-toc {
    width: calc((100% - var(--nav-width)) / 2);
    
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    /* height: auto; */
    z-index: 98;
    background-color: rgba(255,255,255,0);
    transform: translateX(0);
    right: calc((100% - var(--nav-width)) / 2 - var(--content-gap) * 2);
    position: fixed !important;
    /* top:480px; */
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 32px;
  }
  .toc-link:hover,
  .toc-link:focus {
    background-color: #5b5d67;
  }
  .is-position-fixed{
    position: fixed;
    top:0   !important;
  }